<div class="q-set q-set-wblue" *ngFor="let questionSet of questionsSet; index as i">
    <label class="modal-open modal-open-{{i}} modal-label" for="modal-open-{{i}}" (click)="move(i,'none')">
        <h3 class="q-head q-head-wblue">
            <span class="q-no">Q{{i+1}} </span>
            <span class="q-type"> {{questionSet?.type}}</span>
        </h3>

        <div class="q-component" [ngSwitch]="questionSet?.type">
            <div *ngSwitchCase="'FITB1'">
                <div class="time">time : {{this.questionSet.time}}s</div>
                <app-fitb1 [questionSet]="questionSet"></app-fitb1>
            </div>
            <div *ngSwitchCase="'FITB2'">
                <div class="time">time : {{this.questionSet.time}}s</div>
                <app-fitb2 [questionSet]="questionSet"></app-fitb2>
            </div>
            <div *ngSwitchCase="'MAQ'">
                <div class="time">time : {{this.questionSet.time}}s</div>
                <app-maq [questionSet]="questionSet"></app-maq>
            </div>
            <div *ngSwitchCase="'MCQ'">
                <div class="time">time : {{this.questionSet.time}}s</div>
                <app-mcq [questionSet]="questionSet"></app-mcq>
            </div>
            <div *ngSwitchCase="'MTF'">
                <div class="time">time : {{this.questionSet.time}}s</div>
                <app-mtf [questionSet]="questionSet"></app-mtf>
            </div>
            <div *ngSwitchDefault>
                There is no implementation for that type of questionSet yet.
            </div>
        </div>

        <div class="q-open">open</div>
    </label>

    <input type="radio" name="modal" value="open" id="modal-open-{{i}}" class="modal-radio" />
    <div class=" modal">
        <label class="modal-label overlay">
            <input type="radio" name="modal" value="close" class="modal-radio" />
        </label>
        <div class="content">
            <div class="mod-sec modal-top">
                <h2>Q{{i+1}} </h2>
                <label class="modal-label close-btn">
                    <input type="radio" name="modal" value="close" class="modal-radio" />
                </label>
            </div>
            <div class="mod-sec q-component" [ngSwitch]="questionSet?.type">
                <div *ngSwitchCase="'FITB1'">
                    <div class="time">time : {{this.questionSet.time}}s</div>
                    <app-fitb1 [questionSet]="questionSet"></app-fitb1>
                    <div class="q-ans">
                        <input type="text" class="text" />

                        <div class="q-btns">
                            <button class="btn btn-skip">Skip</button>
                            <button class="btn btn-mfr">MFR</button>
                            <button class="btn btn-s-mfr">S&MFR</button>
                            <button class="btn btn-sub">Submit</button>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'FITB2'">
                    <div class="time">time : {{this.questionSet.time}}s</div>
                    <app-fitb2 [questionSet]="questionSet"></app-fitb2>
                    <div class="q-ans">
                        <div>
                            <input type="text" class="text" />
                        </div>
                        <div class="q-btns">
                            <button class="btn btn-skip">Skip</button>
                            <button class="btn btn-mfr">MFR</button>
                            <button class="btn btn-s-mfr">S&MFR</button>
                            <button class="btn btn-sub">Submit</button>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'MAQ'">
                    <div class="time">time : {{this.questionSet.time}}s</div>
                    <app-maq [questionSet]="questionSet"></app-maq>
                </div>
                <div *ngSwitchCase="'MCQ'">
                    <div class="time">time : {{this.questionSet.time}}s</div>
                    <app-mcq [questionSet]="questionSet"></app-mcq>
                </div>
                <div *ngSwitchCase="'MTF'">
                    <div class="time">time : {{this.questionSet.time}}s</div>
                    <app-mtf [questionSet]="questionSet"></app-mtf>
                </div>
                <div *ngSwitchDefault>
                    There is no implementation for that type of questionSet yet.
                </div>
            </div>

            <div class="mod-sec nav-btn">
                <button class="btn btn-primary" (click)="move(i,'left')">moveL</button>

                <button class="btn btn-primary" (click)="move(i,'right')">moveR</button>
            </div>
        </div>
        <div class="faq-container">
            <ul class="faq">
                <li class="q-faq-red">Skip - Mark as Not Done & and go to next question</li>
                <li class="q-faq-yellow">MFR - Mark For Review</li>
                <li class="q-faq-blue">S&MFR - Submit and Mark For Review</li>
                <li class="q-faq-green">Submit - Submit Your Answer</li>
            </ul>
        </div>
    </div>
</div>