<!-- Match The Following -->
<div class="quest"> {{this.questionSet.question}}</div>
<div class="table">
    <div class="table-col table-col-1">
        <h4>{{heading1}}</h4>
        <hr>
        <div class="col col-1" *ngFor="let item of MTFJsons; index as i">
            <button class="btn" *ngIf="btn"> {{item.left}} </button>
            <div *ngIf="!btn">{{getFromCharCode(i)}}. {{item.left}}</div>
        </div>
    </div>

    <div class="table-col table-col-2">
        <h4>{{heading2}}</h4>
        <hr>
        <div class="col col-2" *ngFor="let item of MTFJsons  | shuffle ; index as i">
            <button class="btn" *ngIf="btn">{{item.right}}</button>
            <div *ngIf="!btn">{{getFromCharCode(i)}}. {{item.right}}</div>
        </div>
    </div>
</div>