h4{
    margin: 0 0 10px 6px;
}
hr{
    border:0.2px solid black;
}
.table{
    margin: 8px 0 0 8px ;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 15px;
}
.table-col{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}
.col{
    height:fit-content;
    .btn{
        width: 100%;
        text-align: left;
    }
}
.none{
    display: none;
}
.t-ans{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 15px;
}
#retry{
    width: fit-content;
    margin: auto;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: rgba(62, 65, 65, 0.562);
}